#content {
	margin-top: 75px;
}

h1 {
	width: 100%;
	text-align: center;
}

.project {
	margin-bottom: 35px;
}

.project .header {
		margin-top: 1.5em;
		padding-bottom: 0.25em;
		border-bottom: 1px solid grey;
}

.project .header > h3 {
	display: inline-block;
	margin: 0;
}

.project .header .project-links {
	line-height: 1.6em;
	float: right;
	clear: both;
}

.project .desc .text {
	width: 100%;
	display: inline-block;
}

.project .desc .text.with-image {
	width: 66%;
	margin-right: 3%;
}

.project .desc .image {
	width: 30%;
	vertical-align: top;
	margin-top: 1em;
}

@media (max-width: 800px) {

	.project .header .project-links {
		float: none;
		display: block;
	}

	.project .desc .text {
		width: 100% !important;
	}

	.project .desc .image {
		width: 100%;
	}
}
